/* Import other css */
@import url('reset.css');
@import url('social-icons.css');
@import url('comments.css');
@import url('elements.css');


/* GENERAL ------------------------------------------------------------*/


.clearfix{ clear:both; }


.wrapper,
#main{
	margin: 0 auto; 
	position: relative;
	font-family: helvetica, arial, sans-serif;
}

body{
	background: #ececec url('/img/main-pattern.png');
	color: #555;
	
}

body p{
	margin-bottom: 0px;
}

#bigp{
	font-size: 18px;
	font-weight:300;
	line-height:130%;
}

body a{
	text-decoration: none;
	color: #333;
	text-shadow: 0px 1px 0px #fff;

	-ms-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

body a:hover{
	color: #6799c8;
}

#logo{
	display: block;
	padding-top: 40px;
	float: left;
}

#logo:hover{ opacity: 0.8;}

.headline{
	font-family: helvetica, arial, sans-serif;
	font-size: 26px;
	line-height: 1.5em;
	text-align: center;
	padding: 20px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	margin-bottom: 50px;
	background: #eaeaea;
	color: #444;
}


#page-content{
	float: left;
	width: 528px;
	margin-left: 24px;
	margin-top: 24px;
	padding-bottom: 60px;
}

#page-content-full{
	margin-right: 24px;
	margin-left: 24px;
	margin-top: 24px;
	padding-bottom: 60px;
}

#page-content-gall{
	margin-right: 24px;
	margin-left: 24px;
	margin-top: 24px;
	padding-bottom: 0px;
}

.home-block-heading{
	border-bottom: 1px solid #ccc;
	color: #444;
	padding-bottom: 20px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 12px;
	font-size: 36px;
}

.block-heading{
	border-bottom: 1px solid #ccc;
	color: #444;
	padding-bottom: 20px;
	margin-left: 0px;
	margin-right: 24px;
	margin-bottom: 32px;
}

.h-heading{
	border-bottom: 1px solid #ccc;
	color: #444;
	padding-bottom: 20px;
	margin-bottom: 32px;
}

.h-margin{
	margin-bottom: 32px;
}

.block-divider{
	margin-bottom: 120px;
}

.alignleft {
  float: left;
  margin: 5px 10px 5px 0;
}

.alignleftintext {
  float: left;
  margin: 3px 6px 0px 0px;
}



/* Sideways writing down side of content by Thomas Frodsham, 2013 */
#hrscside {

  font-weight: bold;
  font-size: 40px;
  width: 800px;
  overflow: hidden;
  line-height: 30px;
  position: absolute;
  left: 920px;
  top: 0px;
  color: #d9d9d9;
  text-shadow: -1px 0px 0px #fff;

  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;



}

/* MASTHEAD ------------------------------------------------------------*/

#masthead{	
	position: relative;
	margin-top: -38px;
	background: #1c1d1d;
	
	padding-left: 24px;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.5); 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.5); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
	
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 1); 
}

#masthead span{
	line-height: 69px;
}

#masthead .head{
	font-family: helvetica, arial, sans-serif;
	font-size: 21px;
	color: #ddd;
}

#masthead .subhead{
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color: #888;
	margin-left: 21px;
}

#masthead .breadcrumbs{
	position: absolute;
	overflow: hidden;
	top: 24px;
	right: 24px;
	height: auto;
	font-size: 11px;
	color: #444;
}


#masthead .breadcrumbs a{
	text-decoration: none;
	color: #888;
	text-shadow: none;

	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#masthead .breadcrumbs li:last-child a{
	color: #555 !important;
}

#masthead .breadcrumbs a:hover{
	color: #6799c8;
}

#masthead .breadcrumbs li{
	display: inline;
}

/* HEADINGS ------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6{
	font-family: Ubuntu, helvetica, arial, sans-serif;
	color: #444;
}

h1{ font-size: 36px; }

h2{ font-size: 24px; }

h3{ font-size: 21px; }

h4{ font-size: 18px; }

h5{ font-size: 14px; }

h6{ font-size: 12px; }


h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading{
	margin-bottom: 21px;
}


/* HEADER ------------------------------------------------------------*/

header{
	position: relative;
	height: 175px;
	background: url(../img/header.png)  repeat-x center center;
	display: block;
        -ms-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
        -webkit-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
        -moz-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
        -o-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
        box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
border-bottom: 4px solid #1c1d1d !important;
	
}

/* NAVIGATION ------------------------------------------------------------*/


nav{

	float: right;
	line-height: 1.8em;
}

nav a{
	text-decoration: none;
	color: #acacac;
        text-shadow: none;
}

#nav{
	margin-top: 40px;
}

#nav li{
	display: inline;
	font-size: 16px;
	float: left;

        -ms-transition: all 0.7s ease-out;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}

#nav > li {
  background: transparent url('/img/down.png') center 37px no-repeat;
  height: 135px;
}
#nav > li:hover {
  background-position: center 150px;
}
#nav li:first-child, .special-menu-item {
  background-image: none !important;
}

#nav>li>a{
	display: block;
	overflow: hidden;
	padding: 5px 10px 0px 10px;
	color: #f5f5f5;
	
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
	
        -ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#nav>li>a:hover,#nav>li:hover>a{
	background-color: #222;
	border-bottom: solid #1c1d1d 5px;
}

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	color: #6799c8;
}

#nav>li>a>.subheader{
	color: #DEDEDE;
	display: block;
	font-size: 11px;
	margin-top: -8px;
	font-weight: lighter;
}

#nav .sf-sub-indicator{
	float: right;
}

#nav>li>a>.sf-sub-indicator{
	display: none;
}

#nav li.con a {
  background: url("/img/social/email_32.png") no-repeat scroll 8px center / 16px 16px;
  padding: 10px 5px 10px 30px !important;
}
#nav li.con a:hover {
  padding: 10px 0px 10px 35px !important;
  background-position: 10px center;
}
#nav li.g a, #nav li.lg a, #nav li.p a, #nav li.y a {
  padding: 10px 15px 10px 11px !important;
  border-left: 4px solid;
}
#nav li.ev a:hover {
  background-color: #1c1d1d !important;
  color: #ccc !important;
}
#nav li.g a {
  border-color: #373;
}
#nav li.lg a {
  border-color: #2BED49;
}
#nav li.p a {
  border-color: #626;
}
#nav li.y a {
  border-color: #F2C124;
}
#nav li.g a:hover, #nav li.lg a:hover, #nav li.p a:hover, #nav li.y a:hover {
  padding: 10px 10px 10px 13px !important;
  border-left-width: 7px;
}

/* sub navigation -----------------------------------------------------*/

#nav>li ul{
	display: block;
	margin-top: 4px;
	background-color: #1c1d1d;
        box-shadow: 2px 2px 8px #111;
}

#nav>li ul li{
	border-bottom: 1px solid #151515;
}

#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 13px;
	color: #CCCCCC;
	text-decoration: none;

	-ms-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#nav>li ul li a span{
	display: block;
}

#nav>li ul li a:hover{
	padding: 10px 10px 10px 20px;
	background-color: #717171;
	color: #111;
}


/* MOBILE NAVIGATION ------------------------------------------------*/

#mobile-nav-holder{
    z-index: 1000;
    background: #191a1a;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

#mobile-nav{
	display: none;
    padding-top: 20px;
    padding-bottom: 30px;
}

#mobile-nav-holder a{
	display: block;
	padding: 7px 14px;
	text-decoration: none;
	color: #f5f5f5;
	font-size: 13px;
	font-weight: lighter;
	
        -ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#mobile-nav-holder li a{
	border-bottom: 1px solid #222;
}

#mobile-nav-holder li:last-child a,
#mobile-nav-holder li > ul a{
	border: none;
}

#mobile-nav-holder li > ul a{
	color: #888888;
	margin-left: 30px;
}

#mobile-nav-holder a:hover,
#mobile-nav-holder a:focus {
	background: #0d0d0d; 
}

#mobile-nav-holder a:hover{
	padding-left: 20px;
}

#mobile-nav-holder #nav-open{
	background: #191a1a; 
	position: absolute;
	right: 0px;
	
	z-index: 2000;
}

#mobile-nav-holder #nav-open a{
	display: block;
	padding: 7px 14px;
	
		
}

#mobile-nav-holder #nav-open a:hover,
#mobile-nav-holder #nav-open a:focus{
	background: #191a1a;
}

#mobile-nav-holder #nav-open:hover a{
	color: #cccccc;
}

#mobile-nav > .current-menu-item > a,
#mobile-nav > .current_page_item > a{
	color: #6799c8;	
}

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third{	
	float:left;
	margin-bottom: 40px;
	margin-right: 4.54%;
	position:relative;
}

.one-halfn,
.one-thirdn{	
	float:left;
	margin-bottom: -30px;
	margin-right: 4.54%;
	position:relative;
}

.one-half{ 
	width: 47.72%;
}

.one-halfn{ 
	width: 47.72%;
}
.one-third{ 
	width: 30.30%;
}

.one-thirdn{ 
	width: 30.30%;
}
.last {
	clear:right;
	margin-right:0 !important;
}

/* MAIN ------------------------------------------------------------*/

#main{
		
}

#main #content{
	position: relative;
	display: block;
	width: 852px;
	float: left;
	min-height: 850px;
	
	background: #f5f5f5;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.1);
	
}

.shadow-main{
	width: 852px;
	height: 11px;
	margin-left: 68px;
	background: url(../img/shadow-main.png) no-repeat top center;
}

/* SOCIAL --------------------------------------------------------*/


#social-cont{
	display: block;
	float: left;
	width: 68px;
        min-height: 1px;
}

#social-bar{
	display: block;
	width: 68px;
	background: url(../img/social-desktop.png) no-repeat bottom center;
	padding: 10px 0px 20px 0px;
}

#social-bar ul{
	display: block;
	margin: 0 auto ;
	width: 32px;
}

#social-bar li{
	display: block;
	padding: 0px;
	margin: 3px 0px;
}

#social-bar a{ display: block; }

/* FEATURED ------------------------------------------------------------*/

.featured{ padding-bottom: 10px; }

.featured figure{
	position: relative;
	float: left;
	width: 252px;
	margin-left: 24px;
	margin-bottom: 21px;
}

.featured figure .thumb{
	display: block;
	background: url(../img/go.png) no-repeat center center;
	margin-bottom: 21px;
	
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
}

.featured figure a.thumb:hover img{
	opacity: 0.15;
}

.featured figure:hover .link{
	display: block;
}

.featured figure img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.featured figure .heading{
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	color: #444;
	font-size: 16px;
	display: block;
	margin-bottom: 14px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.featured figure a.heading:hover{
	color: #6799c8 !important;
}

.featured figure .link{
	display: none;
	position: absolute;
	top: -2px;
	right: 10px;
	background: url(../img/ribbon-link.png) no-repeat top left;
	width: 33px;
	height: 61px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.featured figure .link:hover{
	top: 0px;
}


/* PORTFOLIO ------------------------------------------------------------*/

.featured.portfolio-list{
	margin-top: 25px;
}

.project-heading{
	margin: 44px 24px 44px 24px;
}


.project-heading h1{
	float: left;
	margin-right: 20px;
}

.project-heading .launch{
	display: block;
	float: left;
	text-decoration: none;
	color: #888;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-heading .launch:hover{
	color: #6799c8;
}

.project-description{
	float: left;
	margin-left: 24px;
	width: 528px;
	margin-bottom: 40px;
}


.project-info{
	float: left;
	margin-left: 24px;
	width: 252px;
	margin-bottom: 40px;
}

.project-info strong{
	color: #444;
}


.project-pager{
	overflow: hidden;
	margin: 0px 24px 0px 24px;
	padding-bottom: 50px;
}

.project-pager a{
	text-decoration: none;
	color: #444;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-pager a:hover{
	text-decoration: none;
	color: #6799c8;
}

.project-pager .prev-project{
	float: left;
}

.project-pager .next-project{
	float: right;
}

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects{
	display: block;
	background:#eaeaea;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px 0px 50px 0px;
}

.related-heading{
	font-weight: bold;
	color: #444;
	margin: 0px 0px 24px 24px;
}

.related-projects .related-list{
	display: block;
}

.related-projects  figure{
	display: block;
	float: left;
	margin-left: 24px;
	width: 252px;
}

.related-projects .thumb{
	display: block;
	background: url(../img/go.png) no-repeat center center;
	margin-bottom: 21px;
	
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
}

.related-projects .thumb:hover img{
	opacity: 0.15;
}

.related-projects figure img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.related-projects .heading{
	text-decoration: none;
	font-style: normal;
	color: #444;
	text-align: center;
	display: block;
	margin-bottom: 14px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.related-projects .heading:hover,
 .related-projects .heading:hover *{
	color: #6799c8 !important;
}

/* RETRACTIL SIDEBAR ------------------------------------------------------------*/

aside.retractil{
	position: absolute;
	top: 34px;
	left: 0px;
	background: #eaeaea;
	width: 276px;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
	box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
}

aside.retractil #sidebar-opener{
	cursor: pointer;
	margin: 15px 24px;
	color: #444;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-opener:hover{
	color: #6799c8;
}

aside.retractil #sidebar-closer{
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-closer:hover{
	opacity: 0.5;
}

aside.retractil #sidebar-content{
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 50px;
	display: none;	
}


aside.retractil #sidebar-content a{
	text-decoration: none;
	color: #888;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-content a:hover{
	color: #444;
}

/* HOME-GALLERY ------------------------------------------------------------*/


.home-gallery{ 
	display: block;
	padding-bottom: 70px;
}

.home-gallery li{ 
	display: block;
	float: left;
	margin-left: 24px;
	margin-bottom: 21px;
	width: 252px;
}

.home-gallery .thumb{ 
	line-height: 0em;
	display: block;
	background: url(../img/plus.png) no-repeat center center;
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	box-shadow: 3px 3px 0px rgba(0,0,0,.2);
}

.home-gallery img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.home-gallery .thumb:hover img{
	opacity: 0.15;
}

/* TEXT POSTS ------------------------------------------------------------*/

.text-posts{
	overflow: hidden;
	padding-bottom: 30px;
}

.text-posts li{
	display: block;
	float: left;
	margin-left: 24px;
	margin-bottom: 21px;
	width: 252px;
}

.text-posts .heading{
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.text-posts .heading:hover{
	color: #6799c8; 
}

/* BLOG ------------------------------------------------------------*/

#posts-list,
#post-content{
	width: 528px;
	float: left;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}

#post-content .content-area{
	padding-bottom: 50px; 
}

#posts-list article{
	margin-bottom: 80px;
}


#posts-list .feature-image,
#post-content .feature-image{
	width: 100%;
	margin-bottom: 21px;
	background: url(../img/plus.png) center center no-repeat;
	line-height: 0em;
}

#posts-list .feature-image img,
#post-content .feature-image img{
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .feature-image:hover img,
#posts-content .feature-image:hover img{
	opacity: 0.2;
}

#posts-list .post-heading,
#post-content .post-heading{
	display: block;
	text-decoration: none;
	color: #444;
	line-height: 1em;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .post-heading:hover{
	color: #6799c8;
}

#posts-list .meta,
#post-content .meta{
	border-bottom: 1px solid #ccc;
	margin-bottom: 11px;
	padding-bottom: 11px;
	font-style: italic;
	font-size: 11px;
}

#posts-list .meta a,
#post-content .meta a{
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .meta a:hover,
#post-content .meta a:hover{
	color: #6799c8;
}

#posts-list .excerpt{
	margin-bottom: 21px;
}

#posts-list .read-more{
	background: #eaeaea;
	padding: 5px 10px;
	text-decoration: none;
	color: #888;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .read-more:hover{
	color: #fff;
	background: #6799c8;
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
	width: 252px;
	float: left;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}

#sidebar a{
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#sidebar a:hover{ color: #6799c8; }

#sidebar h4{
	margin-bottom: 10px;
}

#sidebar .block{
	padding: 16px;
	background: #eaeaea;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.2); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.2); 
	box-shadow: 0px 0px 2px rgba(0,0,0,.2); 
	margin-bottom: 24px;
}




/* PAGER ------------------------------------------------------------*/

.pager{
	overflow: hidden;
	display: block;
	font-size: 11px;
	margin: 0px 24px 0px 24px;
	padding-bottom: 50px;
}

.pager li{
	display: block;
	margin-right: 5px;
	float: left;
}

.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: #484848;
	width: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pager li.active a,
.pager li:hover a{
	color: #fff;
	background: #6799c8;
}

.pager .paged{
	float:right;
	font-style:italic;
}


/* CONTACT ------------------------------------------------------------*/


#map{
	display: block;
	height: 300px;
	width: 100%;
	margin-bottom: 24px;	
}

.address-block li{
	padding-left: 20px;
}

.address-block .address{ background: url(../img/icon-address.png) no-repeat top left  }

.address-block .phone{ background: url(../img/icon-phone.png) no-repeat top left}

.address-block .mobile{ background: url(../img/icon-mobile.png) no-repeat top left }

.address-block .email{ background: url(../img/icon-email.png) no-repeat top left }


/* FOOTER ------------------------------------------------------------*/

footer{
	background: 
		url(../img/footer-line.png) repeat-x top left,
		url(../img/noise.png);
	background-color: #e6e5e1;
	min-height: 100px;
	
	text-shadow: 0 1px rgba(255, 255, 255, .9);	
    /*padding-bottom: 300px !important;*/
}

footer a{
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

footer a:hover{
	color: #6799c8;
}

footer .wrapper{
	margin-top: -60px;
	padding-bottom: 60px;
}

#footer-cols{
	padding-top: 100px;
}

#footer-cols>li{
	display: block;
	float: left;
	margin-bottom: 20px;
}

#footer-cols>li{
	display: block;
	float: left;
	width: 252px;
	margin-left: 24px;	
}

#footer-cols h4{
	margin-bottom: 21px;
}

#footer-cols>li.first-col{
	
}

#footer-cols>li.second-col{

}

#footer-cols>li.third-col{ margin-right: 0px; width: 274px; }

footer #to-top{
	display: none;
	width: 68px;
	height: 68px;
	margin: 0 auto;
	background: url(../img/to-top.png) no-repeat;
	cursor: pointer;
}

footer #to-top:hover{ opacity: 0.7 }


/* WIDGETS ------------------------------------------------------------*/


.recent-post{
	overflow: hidden;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);

	-ms-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.recent-post:hover{
	background: #eee;
     
}


.recent-post .thumb{
	display: block;
	float: left;
	line-height: 0em;
	background: #fff;
	padding: 3px;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
}

.recent-post .post-head{
	float: left;
	width: 184px;
	margin-left: 7px;
	font-size: 13px;
	line-height: 1.5em;
}


.recent-post .post-head span{
	display: block;
	font-size: 11px;
	color: #888888;
}

/* ADDITONAL CRAP  ------------------------------------------------------------*/

/*.imgleft{
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
} */


.imgleft .thumb{
	display: block;
	float: left;
	line-height: 0em;
	background: #fff;
	padding: 3px;
	
	margin-bottom: 10px;
	margin-right: 20px;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	
}

.who {
	display: block;
	float: left;
	line-height: 0em;
	background: #fff;
	padding: 3px;
	
	margin-right:12px;
	margin-bottom:14px;
	
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
}

.centre {
	
	display:block; /*images must be set to block in order use auto margins*/
   margin-left:auto;
   margin-right:auto; /*centers images in most browsers*/
   text-align:center;
  
	line-height: 0em;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	padding: 3px;
	
}

.acform {
	
	
	line-height: 0em;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	padding: 3px;
	border: solid 25px rgba(0,0,0,0);
	width:500px;
	
}


/* Progress Bar */

.progress-bar {
		height: 23px;
		background: #993366 url(../img/progress/progress-bar.png) repeat-x;
		position: absolute;
		top:7px;
		left: 0px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		}
		
		.progress-bar-container {
		width: 488px;
		height: 23px;
		margin-left: 6px;
		position: relative;
		}
		
	.progress {
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
		background: url(../img/progress/progress-container.png) no-repeat;
		position: relative;
		}
		
		.tipsy { margin-bottom: 25px; font-size: 18px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../img/progress/tipsy.png); font-family: helvetica, Arial; text-transform: uppercase;  }
  		.tipsy-inner { padding: 10px 20px; background-color: black; color: white; max-width: 400px; text-align: right; -webkit-box-shadow: 0 20px 15px rgba(0,0,0,0.5); -moz-box-shadow: 0 20px 15px rgba(0,0,0,0.5);   }
  		.tipsy-inner { -moz-border-radius:4px; -webkit-border-radius:4px; }
  		.tipsy-north { background-position: top center; }
  		.tipsy-south { background-position: bottom center; }
  		.tipsy-east { background-position: right center; }
  		.tipsy-west { background-position: left center; }
  		.tipsy-container { border: 1px solid green;}

/* Special menu item */

#L6 {
	color:#FFFFFF;
	font-weight:bold;
	
}
a:hover #L6 {
	color:#ddd;
	
}

#nav>li.special-menu-item>a
{
	background:rgba(103,153,200,0.3);
	border-bottom: solid rgba(103,153,200,1) 5px;
}

#nav>li.current-s-menu-item>a
{
	background:rgba(103,153,200,0.5);
	border-bottom: solid rgba(255,255,255,1) 5px;
	
}

/* who.html designed by Thomas Frodsham, 2013
   based on original website designed by Andrew Watts, then Gareth (garethnunns.com) edited out some of the bugs... */

.officerProfileL, .officerProfileR {
  float: left; box-shadow: 0 0 8px #aaa; background: #eee; max-width: 400px;
}
.officerProfileL {
  clear: left; margin: 20px 10px 20px 15px;
}
.officerProfileR {
  clear: right; margin: 20px 15px 20px 10px;
}
.officerTitle {
  background: #404040; width: 92%; box-shadow: 0 0 4px #888; border-bottom: 1px solid #171717; color: #f5f5f5; font-size: 19px; line-height: 28px; padding: 7px 4%; text-shadow: 0 -1px 0px #000000;
}
.officerTitle h5 {
  float: right; color: #ccc; margin-top: 2px;
}
.officerDetails {
  padding: 15px; position: relative;
}
.officerDetails div {
  float: right; top: 0px; right: 0px; padding: 5px; font-style: italic; font-weight: bold;
}
.officerDetails div a img {
  width: 24px; height: 24px;
}