.featured {
	padding-bottom: 10px;

	figure{
		position: relative;
		float: left;
		width: 252px;
		margin-left: 24px;
		margin-bottom: 21px;

		.thumb {
			display: block;
			background: url(../img/site/go.png) no-repeat center center;
			margin-bottom: 21px;
			
			-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
			-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
			box-shadow: 3px 3px 0px rgba(0,0,0,.2);

			img {
				max-width: 100%;
	
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}

		a.thumb:hover img { // dim to reveal go button if it's a link
			opacity: 0.15;
		}

		.heading {
			text-decoration: none;
			font-style: normal;
			font-weight: bold;
			color: #444;
			font-size: 16px;
			display: block;
			margin-bottom: 14px;
			
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		a.heading:hover{
			color: #6799c8 !important;
		}

		// not used as I think it was replaced by the code above
		/*
		.link {
			display: none;
			position: absolute;
			top: -2px;
			right: 10px;
			background: url(../img/ribbon-link.png) no-repeat top left;
			width: 33px;
			height: 61px;
			
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			&:hover {
				top: 0px;
			}
		}

		&:hover .link {
			display: block;
		}
		*/
	}
}