footer {
	background: 
		url(../img/site/footer-line.png) repeat-x top left,
		url(../img/site/footer-noise.png);
	background-color: #e6e5e1;
	min-height: 100px;
	text-shadow: 0 1px rgba(255, 255, 255, .9);

	.wrapper {
		margin-top: -60px;
		padding-bottom: 20px;

		#footer-cols {
			padding-top: 100px;

			& > li {
				display: block;
				float: left;
				margin-bottom: 20px;
				width: 260px; // (900-120)/3 = 260
				margin-left: 30px; // 4*30 = 120

				&.third-col {
					text-align: center;

					img {
						display: block;
						width: 200px;
						margin: 10px auto;
					}
				}

				@include breakpoint(papa-bear) {
					// 2 above, one below:
					// |    |    |
					// -----------
					// |         |
					width: 44%; // (100-12)/2 = 44
					margin-left: 4%; // 4*3 = 12

					&.third-col {
						padding-top: 10px;
						width: 92%; // 100-(4*2)

						img{ 
							width: auto;
							height: 60px;
							display: inline;
						}
					}
				}

				@include breakpoint(mid-bear) {
					width: 94%;
					margin: 10px 3%;
				}

				a {
					color: #444;
					text-decoration: none;
					
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;

					&:hover {
						color: $blue;
					}
				}
			}
		}

	}

	#to-top {
		display: block;
		width: 68px;
		height: 68px;
		margin: 0 auto;
		background: url(../img/site/footer-to-top.png) no-repeat;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}
}