#masthead{	
	position: relative;
	margin-top: -38px;
	background: #1c1d1d;
	
	padding-left: 24px;

	@include box-shadow(0px 0px 4px rgba(0,0,0,.5));
	
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 1); 

	@include breakpoint(papa-bear) {
		position: static;
		margin-top: -30px;
	}
	@include breakpoint(mid-bear) {
		margin-top: -25px;
	}

	span {
		line-height: 69px;

		@include breakpoint(papa-bear) {
			line-height: 55px;
		}
		@include breakpoint(mid-bear) {
			line-height: 40px;
		}
	}

	.head, .subhead {
		font-family: helvetica, arial, sans-serif;
		a {
			color: #ddd;
			text-shadow: none;
			&:after { // add arrows after
				content: " \00bb";
			}
		}
	}

	.head {
		font-size: 21px;
		color: #ddd;
	}

	.subhead {
		font-size: 13px;
		color: #888;
		margin-left: 21px;

		@include breakpoint(mid-bear) {
			display: none;
		}
	}

	.breadcrumbs {
		position: absolute;
		overflow: hidden;
		top: 24px;
		right: 24px;
		height: auto;
		font-size: 11px;
		color: #444;

		@include breakpoint(mama-bear) {
			display: none;
		}

		a {
			text-decoration: none;
			color: #888;
			text-shadow: none;

			@include single-transition(all, 0.3s, ease, 0s);

			&:hover {
				color: $blue;
			}
		}

		li{
			display: inline;
			&:last-child a {
				color: $black !important;
			}
		}
	}
}