.recent-post {
	overflow: hidden;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);

	-ms-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;

	&:hover {
		background: #eee;
	}

	.thumb{
		display: block;
		float: left;
		line-height: 0em;
		background: #fff;
		padding: 3px;
		
		-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
		-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
		box-shadow: 0px 0px 4px rgba(0,0,0,.3); 
	}

	.post-head{
		float: left;
		width: 184px;
		margin-left: 7px;
		font-size: 13px;
		line-height: 1.5em;

		span{
			display: block;
			font-size: 11px;
			color: #888888;
		}
	}
}