@import url("reset.css");
@import url("social-icons.css");
@import url("comments.css");
@import url("elements.css");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table, tr, th, td, input, textarea {
  box-sizing: border-box;
}

body {
  background: #ececec url("/img/site/body-pattern.png");
  font: 14px/1.5em Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body .wrapper, body #main {
  margin: 0 auto;
  position: relative;
  font-family: helvetica, arial, sans-serif;
}
body .wrapper {
  width: 100%;
  max-width: 900px;
  padding: 0 40px 0 60px;
}
@media only screen and (max-width: 1000px) {
  body .wrapper {
    padding: 0;
  }
}
body #main {
  width: 96%;
  max-width: 1000px;
  padding-left: 0px;
}
body #main #content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 900px;
  float: left;
  min-height: 825px;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1000px) {
  body #main #content {
    width: 100%;
    min-height: 0;
  }
}
body #main #content #masthead {
  position: relative;
  margin-top: -38px;
  background: #1c1d1d;
  padding-left: 24px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px black;
}
@media only screen and (max-width: 1000px) {
  body #main #content #masthead {
    position: static;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 600px) {
  body #main #content #masthead {
    margin-top: -25px;
  }
}
body #main #content #masthead span {
  line-height: 69px;
}
@media only screen and (max-width: 1000px) {
  body #main #content #masthead span {
    line-height: 55px;
  }
}
@media only screen and (max-width: 600px) {
  body #main #content #masthead span {
    line-height: 40px;
  }
}
body #main #content #masthead .head, body #main #content #masthead .subhead {
  font-family: helvetica, arial, sans-serif;
}
body #main #content #masthead .head a, body #main #content #masthead .subhead a {
  color: #ddd;
  text-shadow: none;
}
body #main #content #masthead .head a:after, body #main #content #masthead .subhead a:after {
  content: " \00bb";
}
body #main #content #masthead .head {
  font-size: 21px;
  color: #ddd;
}
body #main #content #masthead .subhead {
  font-size: 13px;
  color: #888;
  margin-left: 21px;
}
@media only screen and (max-width: 600px) {
  body #main #content #masthead .subhead {
    display: none;
  }
}
body #main #content #masthead .breadcrumbs {
  position: absolute;
  overflow: hidden;
  top: 24px;
  right: 24px;
  height: auto;
  font-size: 11px;
  color: #444;
}
@media only screen and (max-width: 768px) {
  body #main #content #masthead .breadcrumbs {
    display: none;
  }
}
body #main #content #masthead .breadcrumbs a {
  text-decoration: none;
  color: #888;
  text-shadow: none;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body #main #content #masthead .breadcrumbs a:hover {
  color: #6799c8;
}
body #main #content #masthead .breadcrumbs li {
  display: inline;
}
body #main #content #masthead .breadcrumbs li:last-child a {
  color: #555 !important;
}
body #main .page-content {
  margin: 12px 24px 40px 24px;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  body #main .page-content {
    margin-top: 6px;
  }
}
body #main .hasaside {
  padding-right: 250px;
}
@media only screen and (max-width: 1000px) {
  body #main .hasaside {
    padding-right: 0;
  }
}
body #main .shadow-main {
  width: 100%;
  max-width: 900px;
  height: 11px;
  margin-left: 60px;
  background: url(../img/site/shadow-main.png) no-repeat top center;
}
@media only screen and (max-width: 1000px) {
  body #main .shadow-main {
    background-size: 90% 100%;
    margin-left: 0;
  }
}
body .home-block-heading, body .block-heading {
  border-bottom: 1px solid #ccc;
  color: #444;
  padding-bottom: 20px;
  margin-bottom: 32px;
  margin-right: 24px;
}
body .home-block-heading {
  margin-left: 24px;
  margin-bottom: 12px;
  font-size: 36px;
}
body .block-heading {
  margin-left: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Ubuntu, helvetica, arial, sans-serif;
  color: #444;
}
body h1 {
  font-size: 36px;
  line-height: 36px;
  padding: 8px 0;
}
body h2 {
  font-size: 28px;
  line-height: 28px;
  padding: 7px 0;
}
body h3 {
  font-size: 23px;
  line-height: 23px;
  padding: 6px 0;
}
body h4 {
  font-size: 20px;
  line-height: 20px;
  padding: 5px 0;
}
body h5 {
  font-size: 18px;
  line-height: 18px;
  padding: 5px 0;
}
body h6 {
  font-size: 16px;
  line-height: 16px;
  padding: 4px 0;
}
body p {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 0;
}
body p.error {
  color: #df3a5a;
}
body p.success {
  color: #3adf5b;
}
body h1.heading, body h2.heading, body h3.heading, body h4.heading, body h5.heading, body h6.heading {
  margin-bottom: 21px;
}
body .headline {
  font-family: helvetica, arial, sans-serif;
  font-size: 26px;
  line-height: 1.5em;
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  background: #eaeaea;
  color: #444;
}
body #bigp {
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
}
body a {
  text-decoration: none;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
  -ms-transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
body a:hover {
  color: #6799c8;
}
body a img {
  border: none;
}
body .center {
  text-align: center;
}
body .center input {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body .nomobile {
    display: none;
  }
}
body ul {
  list-style: disc inside url("/img/icons/right-small.png");
}
body .arrow {
  float: left;
  width: 15px;
  margin-right: 5px;
}
body img {
  width: 100%;
}
body .councimg {
  max-width: 100px;
}
body .alignleftintext {
  float: left;
  margin: 3px 6px 0px 0px;
}
body .thumb {
  float: left;
  width: 100px;
  margin: 7px 20px 10px 0;
  padding: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
body .thumb.small {
  width: 35px;
  padding: 2px;
  margin: 4px 10px 4px 0;
}
body .thumb.med {
  width: 50px;
  padding: 2px;
  margin: 5px 13px 5px 0;
}
body .imgleft {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
body .who {
  display: block;
  float: left;
  line-height: 0em;
  background: #fff;
  padding: 3px;
  margin-right: 12px;
  margin-bottom: 14px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 768px) {
  body .facebook {
    display: none;
  }
}
body .centre {
  display: block;
  /*images must be set to block in order use auto margins*/
  margin-left: auto;
  margin-right: auto;
  /*centers images in most browsers*/
  text-align: center;
  line-height: 0em;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  padding: 3px;
}
body .clearfix {
  clear: both;
}

::selection {
  background: #ffff9e;
}

::-moz-selection {
  background: #ffff9e;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #ffff9e;
}

header {
  position: relative;
  height: 175px;
  background: url(../img/site/header.png) repeat-x center center;
  display: block;
  -ms-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
  -webkit-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
  -moz-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
  -o-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
  box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
  border-bottom: 4px solid #1c1d1d !important;
}
@media only screen and (max-width: 1000px) {
  header {
    height: auto;
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding-bottom: 18px;
  }
}
header #logo {
  display: block;
  padding-top: 40px;
  float: left;
}
@media only screen and (max-width: 1000px) {
  header #logo {
    float: none;
    padding: 20px 10px;
  }
}
header #logo:hover {
  opacity: 0.8;
}
header #logo img {
  height: 60px;
  width: auto;
}

nav {
  float: right;
  line-height: 1.8em;
}
nav a {
  text-decoration: none;
  color: #acacac;
  text-shadow: none;
}
nav h2 {
  display: none;
}
nav #nav {
  margin-top: 40px;
}
nav #nav .sf-sub-indicator {
  float: right;
}
nav #nav li {
  display: inline;
  font-size: 16px;
  float: left;
  -webkit-transition: all 0.7s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.7s ease-out 0s;
  -o-transition: all 0.7s ease-out 0s;
  transition: all 0.7s ease-out 0s;
}
nav #nav li.special-menu-item, nav #nav li.nochildren {
  background-image: none !important;
}
nav #nav li.current-s-menu-item > a {
  background: rgba(103, 153, 200, 0.5);
  border-bottom: solid white 5px;
}
nav #nav li.con a {
  background: url("/img/icons/email.png") no-repeat scroll 8px center/16px 16px;
  padding: 10px 5px 10px 30px !important;
}
nav #nav li.con a:hover {
  padding: 10px 0px 10px 35px !important;
  background-position: 10px center;
}
nav #nav li.g a, nav #nav li.lg a, nav #nav li.p a, nav #nav li.y a {
  padding: 10px 15px 10px 11px !important;
  border-left: 4px solid;
}
nav #nav li.g a:hover, nav #nav li.lg a:hover, nav #nav li.p a:hover, nav #nav li.y a:hover {
  padding: 10px 10px 10px 13px !important;
  border-left-width: 7px;
}
nav #nav li.g a {
  border-color: #373;
}
nav #nav li.lg a {
  border-color: #2BED49;
}
nav #nav li.p a {
  border-color: #626;
}
nav #nav li.y a {
  border-color: #F2C124;
}
nav #nav li.ev a:hover {
  background-color: #1c1d1d !important;
  color: #ccc !important;
}
nav #nav > li {
  background: transparent url("/img/site/nav-down.png") center 37px no-repeat;
  height: 135px;
}
nav #nav > li:hover {
  background-position: center 150px;
}
nav #nav > li:hover > a {
  background-color: #222;
  border-bottom: solid #1c1d1d 5px;
}
nav #nav > li.current > a {
  color: #6799c8;
}
nav #nav > li > a {
  display: block;
  overflow: hidden;
  padding: 5px 10px 0px 10px;
  color: #f5f5f5;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
nav #nav > li > a .subheader {
  color: #DEDEDE;
  display: block;
  font-size: 11px;
  margin-top: -10px;
  font-weight: lighter;
}
nav #nav > li > a.sf-sub-indicator {
  display: none;
}
nav #nav > li.special-menu-item > a {
  background: rgba(103, 153, 200, 0.3);
  border-bottom: solid #6799c8 5px;
}
nav #nav > li.special-menu-item > a #L6 {
  color: #FFFFFF;
  font-weight: bold;
}
nav #nav > li.special-menu-item > a:hover #L6 {
  color: #ddd;
}
nav #nav > li ul {
  display: block;
  margin-top: 4px;
  background-color: #1c1d1d;
  box-shadow: 2px 2px 8px #111;
}
nav #nav > li ul li {
  border-bottom: 1px solid #151515;
}
nav #nav > li ul li.current a {
  padding: 10px 10px 10px 20px;
  background-color: #717171;
  color: #111;
}
nav #nav > li ul li a {
  display: block;
  padding: 10px 15px;
  display: block;
  font-size: 13px;
  color: #CCCCCC;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
nav #nav > li ul li a:hover {
  padding: 10px 10px 10px 20px;
  background-color: #717171;
  color: #111;
}
nav #nav > li ul li a span {
  display: block;
}
@media only screen and (max-width: 1000px) {
  nav {
    display: block;
    background: black url("../img/icons/menu.png") no-repeat right top;
    position: absolute;
    right: 0;
    top: 25px;
    width: 50px;
    height: 50px;
    z-index: 20;
  }
  nav ul, nav li, nav h2 {
    display: none;
  }
  nav:hover {
    width: 100%;
    height: auto;
  }
  nav:hover h2 {
    display: block;
  }
  nav:hover #nav {
    display: block;
  }
  nav:hover #nav li {
    display: block;
    height: auto;
    width: 100%;
    background-image: none;
  }
  nav:hover #nav li ul, nav:hover #nav li li {
    display: block !important;
    visibility: visible !important;
    position: static !important;
    width: 100% !important;
  }
}

#social-cont {
  display: block;
  float: left;
  width: 60px;
  min-height: 1px;
}
@media only screen and (max-width: 1000px) {
  #social-cont {
    display: none !important;
  }
}
#social-cont #social-bar {
  display: block;
  width: 68px;
  background: url(../img/site/social-desktop.png) no-repeat bottom center;
  padding: 10px 0px 20px 0px;
}
#social-cont #social-bar ul {
  display: block;
  margin: 0 auto;
  width: 32px;
}
#social-cont #social-bar ul li {
  display: block;
  padding: 0px;
  margin: 3px 0px;
}
#social-cont #social-bar ul li a {
  display: block;
}

#hrscside {
  position: absolute;
  left: 960px;
  top: 0px;
  display: block;
  width: 800px;
  overflow: hidden;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #C5C5C5;
  text-shadow: -1px 0px 0px white;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}
@media only screen and (max-width: 1000px) {
  #hrscside {
    display: none;
  }
}

aside {
  position: absolute;
  right: -10px;
  top: 0;
  width: 220px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #eaeaea;
}
@media only screen and (max-width: 1000px) {
  aside {
    position: static;
    width: 90%;
    max-width: 600px;
    padding: 5px 5%;
    margin: 15px auto 0;
  }
}
aside .role {
  color: #777;
  padding-top: 0;
}

.featured {
  padding-bottom: 10px;
}
.featured figure {
  position: relative;
  float: left;
  width: 252px;
  margin-left: 24px;
  margin-bottom: 21px;
  		/*
  		.link {
  			display: none;
  			position: absolute;
  			top: -2px;
  			right: 10px;
  			background: url(../img/ribbon-link.png) no-repeat top left;
  			width: 33px;
  			height: 61px;
  			
  			-webkit-transition: all 0.3s ease;
  			-moz-transition: all 0.3s ease;
  			-o-transition: all 0.3s ease;
  			transition: all 0.3s ease;
  
  			&:hover {
  				top: 0px;
  			}
  		}
  
  		&:hover .link {
  			display: block;
  		}
  		*/
}
.featured figure .thumb {
  display: block;
  background: url(../img/site/go.png) no-repeat center center;
  margin-bottom: 21px;
  -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.featured figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.featured figure a.thumb:hover img {
  opacity: 0.15;
}
.featured figure .heading {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: #444;
  font-size: 16px;
  display: block;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.featured figure a.heading:hover {
  color: #6799c8 !important;
}

.text-posts {
  overflow: hidden;
  padding-bottom: 30px;
}
.text-posts li {
  display: block;
  float: left;
  margin-left: 24px;
  margin-bottom: 21px;
  width: 252px;
}
.text-posts li .heading {
  display: block;
  font-weight: bold;
  font-size: 13px;
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.text-posts li .heading:hover {
  color: #6799c8;
}

.related-projects {
  display: block;
  background: #eaeaea;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0px 50px 0px;
}
.related-projects .related-heading {
  font-weight: bold;
  color: #444;
  margin: 0px 0px 24px 24px;
}
.related-projects .related-list {
  display: block;
}
.related-projects .related-list figure {
  display: block;
  float: left;
  margin-left: 24px;
  width: 252px;
}
.related-projects .related-list figure .thumb {
  display: block;
  background: url(../img/site/go.png) no-repeat center center;
  margin-bottom: 21px;
  -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.related-projects .related-list figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-projects .related-list figure .thumb:hover img {
  opacity: 0.15;
}
.related-projects .related-list figure .heading {
  text-decoration: none;
  font-style: normal;
  color: #444;
  text-align: center;
  display: block;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-projects .related-list figure .heading:hover, .related-projects .related-list figure .heading:hover * {
  color: #6799c8 !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  font-family: Ubuntu, helvetica, arial, sans-serif;
  color: #444;
}
table td, table th {
  border: 1px solid #dadada;
  padding: 5px 8px;
  padding: 5px;
  vertical-align: middle;
}
table td.image, table th.image {
  width: 240px;
}
@media only screen and (max-width: 1000px) {
  table td.image, table th.image {
    width: auto;
  }
}
table img.thumb {
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  table.responsive tr:first-child {
    display: none;
  }
  table.responsive td {
    display: block;
    border: none;
    float: left;
    width: 48%;
  }
  table.responsive td:nth-child(2n+1) {
    clear: both;
  }
  table.responsive td:last-child {
    width: 100%;
  }
  table.responsive td:nth-child(2n) {
    width: 48%;
  }
  table.responsive tr {
    padding-bottom: 10px;
    border-bottom: 3px dotted #dadada;
  }
}
@media only screen and (max-width: 600px) {
  table.responsive td {
    width: 100% !important;
  }
}

label.success {
  color: green;
}

input, textarea {
  font-size: 12px;
  background: transparent;
}
input.success, textarea.success {
  -webkit-animation: success 1s ease-out;
  animation: success 1s ease-out;
}

@-webkit-keyframes success {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #3adf5b;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes success {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #3adf5b;
  }

  100% {
    background-color: transparent;
  }
}

input {
  border: none;
  border-bottom: 1px solid #aaa;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
input.tiny {
  max-width: 40px;
}
input.small {
  max-width: 90px;
}
input.full {
  width: 100%;
}
input[type="file"] {
  width: 100px;
  margin: 3px auto;
  border-bottom: none;
}
input[type="submit"] {
  padding: 3px 10px;
  font-size: 13px;
}
input[type="submit"]:hover {
  border-bottom: 1px solid #000;
}

select {
  max-width: 125px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #aaa;
  resize: vertical;
}
textarea.small {
  height: 50px;
}

footer {
  background: url(../img/site/footer-line.png) repeat-x top left, url(../img/site/footer-noise.png);
  background-color: #e6e5e1;
  min-height: 100px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}
footer .wrapper {
  margin-top: -60px;
  padding-bottom: 20px;
}
footer .wrapper #footer-cols {
  padding-top: 100px;
}
footer .wrapper #footer-cols > li {
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 260px;
  margin-left: 30px;
}
footer .wrapper #footer-cols > li.third-col {
  text-align: center;
}
footer .wrapper #footer-cols > li.third-col img {
  display: block;
  width: 200px;
  margin: 10px auto;
}
@media only screen and (max-width: 1000px) {
  footer .wrapper #footer-cols > li {
    width: 44%;
    margin-left: 4%;
  }
  footer .wrapper #footer-cols > li.third-col {
    padding-top: 10px;
    width: 92%;
  }
  footer .wrapper #footer-cols > li.third-col img {
    width: auto;
    height: 60px;
    display: inline;
  }
}
@media only screen and (max-width: 600px) {
  footer .wrapper #footer-cols > li {
    width: 94%;
    margin: 10px 3%;
  }
}
footer .wrapper #footer-cols > li a {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .wrapper #footer-cols > li a:hover {
  color: #6799c8;
}
footer #to-top {
  display: block;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  background: url(../img/site/footer-to-top.png) no-repeat;
  cursor: pointer;
}
footer #to-top:hover {
  opacity: 0.7;
}

.recent-post {
  overflow: hidden;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -ms-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.recent-post .post-head {
  float: left;
  width: 184px;
  margin-left: 7px;
  font-size: 13px;
  line-height: 1.5em;
}
.recent-post .post-head span {
  display: block;
  font-size: 11px;
  color: #888888;
}

#map {
  display: block;
  height: 300px;
  width: 100%;
  margin-bottom: 24px;
}

.address-block li {
  padding-left: 20px;
}

.address-block .address {
  background: url(../img/icons/icon-address.png) no-repeat top left;
}

.address-block .phone {
  background: url(../img/icons/icon-phone.png) no-repeat top left;
}

.address-block .mobile {
  background: url(../img/icons/icon-mobile.png) no-repeat top left;
}

.address-block .email {
  background: url(../img/icons/icon-email.png) no-repeat top left;
}

.acform {
  line-height: 0em;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  padding: 3px;
  border: solid 25px rgba(0, 0, 0, 0);
  width: 500px;
}

.progress-bar {
  height: 23px;
  background: #993366 url(../img/site/progress-bar.png) repeat-x;
  position: absolute;
  top: 7px;
  left: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.progress-bar-container {
  width: 488px;
  height: 23px;
  margin-left: 6px;
  position: relative;
}

.progress {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url(../img/site/progress-container.png) no-repeat;
  position: relative;
}

.tipsy {
  margin-bottom: 25px;
  font-size: 18px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url(../img/site/tipsy.png);
  font-family: helvetica, Arial;
  text-transform: uppercase;
}

.tipsy-inner {
  padding: 10px 20px;
  background-color: black;
  color: white;
  max-width: 400px;
  text-align: right;
  -webkit-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.5);
}

.tipsy-inner {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.tipsy-north {
  background-position: top center;
}

.tipsy-south {
  background-position: bottom center;
}

.tipsy-east {
  background-position: right center;
}

.tipsy-west {
  background-position: left center;
}

.tipsy-container {
  border: 1px solid green;
}

.officerProfileL, .officerProfileR {
  float: left;
  box-shadow: 0 0 8px #aaa;
  background: #eee;
  max-width: 400px;
}
.officerProfileL .officerTitle, .officerProfileR .officerTitle {
  background: #404040;
  width: 92%;
  box-shadow: 0 0 4px #888;
  border-bottom: 1px solid #171717;
  color: #f5f5f5;
  font-size: 19px;
  line-height: 28px;
  padding: 7px 4%;
  text-shadow: 0 -1px 0px black;
}
.officerProfileL .officerTitle h5, .officerProfileR .officerTitle h5 {
  float: right;
  color: #ccc;
  margin-top: 2px;
}
.officerProfileL .officerDetails, .officerProfileR .officerDetails {
  padding: 15px;
  position: relative;
}
.officerProfileL .officerDetails div, .officerProfileR .officerDetails div {
  float: right;
  top: 0px;
  right: 0px;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
}
.officerProfileL .officerDetails div a img, .officerProfileR .officerDetails div a img {
  width: 24px;
  height: 24px;
}

.officerProfileL {
  clear: left;
  margin: 20px 10px 20px 15px;
}

.officerProfileR {
  clear: right;
  margin: 20px 15px 20px 10px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000;
}

ol.sorting {
  margin: 0 0 9px 0;
  min-height: 10px;
  border: transparent 2px solid;
}
ol.sorting.active, ol.sorting .active {
  border: #222 2px solid !important;
}
ol.sorting li {
  display: block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #CCC;
  color: #6799c8;
  background: #dadada;
}
ol.sorting li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
ol.sorting li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #df3a5a;
  border-right: none;
}
ol.sorting li ol {
  border: transparent 2px solid;
}
ol.sorting li ol li {
  background-color: #eaeaea;
}
ol.sorting li img {
  float: right;
  width: auto;
  cursor: pointer;
}
