header{
	position: relative;
	height: 175px;
	background: url(../img/site/header.png)  repeat-x center center;
	display: block;

	-ms-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
	-webkit-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
	-moz-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
	-o-box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;
	box-shadow: 0 30px 100px 40px rgba(30, 30, 30, 0.4) inset;

	border-bottom: 4px solid #1c1d1d !important;

	@include breakpoint(papa-bear) { // mobile
		height: auto;
	}

	#logo {
		display: block;
		padding-top: 40px;
		float: left;
		@include breakpoint(papa-bear) { // mobile
			padding: 20px 10px;
		}

		&:hover {
			opacity: 0.8;
		}

		img {
			height: 60px;
		}
	}
}