.progress-bar {
	height: 23px;
	background: #993366 url(../img/site/progress-bar.png) repeat-x;
	position: absolute;
	top:7px;
	left: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
		
.progress-bar-container {
	width: 488px;
	height: 23px;
	margin-left: 6px;
	position: relative;
}
		
.progress {
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../img/site/progress-container.png) no-repeat;
	position: relative;
}
		
.tipsy {
	margin-bottom: 25px;
	font-size: 18px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	background-image: url(../img/site/tipsy.png);
	font-family: helvetica, Arial;
	text-transform: uppercase;
}

.tipsy-inner {
	padding: 10px 20px;
	background-color: black;
	color: white;
	max-width: 400px;
	text-align: right;

	-webkit-box-shadow: 0 20px 15px rgba(0,0,0,0.5); 
	-moz-box-shadow: 0 20px 15px rgba(0,0,0,0.5);
}

.tipsy-inner {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.tipsy-north {
	background-position:
	top center;
}

.tipsy-south {
	background-position: bottom center;
}

.tipsy-east {
	background-position: right center;
}

.tipsy-west {
	background-position: left center;
}

.tipsy-container {
	border: 1px solid green;
}