.related-projects {
	display: block;
	background:#eaeaea;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 24px 0px 50px 0px;

	.related-heading {
		font-weight: bold;
		color: #444;
		margin: 0px 0px 24px 24px;
	}

	.related-list {
		display: block;

		figure{
			display: block;
			float: left;
			margin-left: 24px;
			width: 252px;

			.thumb {
				display: block;
				background: url(../img/site/go.png) no-repeat center center;
				margin-bottom: 21px;
				
				-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
				-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
				box-shadow: 3px 3px 0px rgba(0,0,0,.2); 

				img {
					max-width: 100%;
					
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}

				&:hover img {
					opacity: 0.15;
				}
			}

			.heading {
				text-decoration: none;
				font-style: normal;
				color: #444;
				text-align: center;
				display: block;
				margin-bottom: 14px;
				
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:hover, &:hover * {
					color: #6799c8 !important;
				}
			}
		}
	}
}