#hrscside {
	position: absolute;
	left: 960px;
	top: 0px;
	display: block;
	width: 800px;
	overflow: hidden;

	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: #C5C5C5;
	text-shadow: -1px 0px 0px #fff;

	// rotate with full support for all broswers
	@include transform(rotate(90deg));
 	@include transform-origin(left,bottom);

 	@include breakpoint(papa-bear) { // hide on mobiles
 		display: none;
 	}
}