// Import other css
@import url('reset.css');
@import url('social-icons.css');
@import url('comments.css');
@import url('elements.css');

@import "compass/css3";

@mixin breakpoint($point) { // ex: @include breakpoint(papa-bear) { content }
	@if $point == tiny-bear {
		@media only screen and (max-width: 320px)  { @content; }
	}
	@elseif $point == baby-bear {
		@media only screen and (max-width: 480px)  { @content; }
	}
	@elseif $point == mid-bear {
		@media only screen and (max-width: 600px)  { @content; }
	}
	@else if $point == mama-bear {
		@media only screen and (max-width: 768px) { @content; }
	}
	@else if $point == papa-bear {
		@media only screen and (max-width: 1000px) { @content; }
	}
	@else if $point == grand-bear {
		@media only screen and (min-width: 1260px) { @content; }
	}
}

$green: #3ADF5B;
$red: #DF3A5A;

// resetting

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table,tr,th,td,input,textarea {
	box-sizing: border-box;
}

body {
	background: #ececec url('/img/site/body-pattern.png');
	font: 14px/1.5em Helvetica, Arial, sans-serif;
	color: #555;
	-webkit-text-size-adjust: 100%; // Stops Mobile Safari from auto-adjusting font-sizes - could remove

	.wrapper, #main {
		margin: 0 auto; 
		position: relative;
		font-family: helvetica, arial, sans-serif;
	}

	.wrapper {
		width: 100%;
		max-width: 900px;
		padding: 0 40px 0 60px;

		@include breakpoint(papa-bear) {
			padding: 0;
		}
	}

	// main content

	#main {
		width: 96%;
		max-width: 1000px;
		padding-left: 0px;	

		#content {
			position: relative;
			display: block;
			width: 100%;
			max-width: 900px;
			float: left;
			min-height: 825px;
			
			background: #f5f5f5;
			
			-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
			-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
			box-shadow: 0px 0px 4px rgba(0,0,0,.1);

			@include breakpoint(papa-bear) {
				width: 100%;
				min-height: 0;
			}
			
			@import '_masthead.scss';

		}

		.page-content {
			margin: 12px 24px 40px 24px;
			position: relative;

			@include breakpoint(papa-bear) {
				margin-top: 6px;
			}
		}

		.hasaside {
			padding-right: 250px;

			@include breakpoint(papa-bear) {
				padding-right: 0;
			}
		}

		.shadow-main{
			width: 100%;
			max-width: 900px;
			height: 11px;
			margin-left: 60px;
			background: url(../img/site/shadow-main.png) no-repeat top center;

			@include breakpoint(papa-bear) { // mobile
				background-size: 90% 100%;
				margin-left: 0;
			}
		}
	}

	// headings

	.home-block-heading, .block-heading {
		border-bottom: 1px solid #ccc;
		color: #444;
		padding-bottom: 20px;
		margin-bottom: 32px;
		margin-right: 24px;
	}

	.home-block-heading {
		margin-left: 24px;
		margin-bottom: 12px;
		font-size: 36px;
	}

	.block-heading {
		margin-left: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: Ubuntu, helvetica, arial, sans-serif;
		color: #444;
	}

	h1 {
		font-size: 36px;
		line-height: 36px;
		padding: 8px 0;
	}
	h2 {
		font-size: 28px;
		line-height: 28px;
		padding: 7px 0;
	}
	h3 {
		font-size: 23px;
		line-height: 23px;
		padding: 6px 0;
	}
	h4 {
		font-size: 20px;
		line-height: 20px;
		padding: 5px 0;
	}
	h5 {
		font-size: 18px;
		line-height: 18px;
		padding: 5px 0;
	}
	h6 {
		font-size: 16px;
		line-height: 16px;
		padding: 4px 0;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		padding: 4px 0;

		&.error {
			color: $red;
		}
		&.success {
			color: $green;
		}
	}


	h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
		margin-bottom: 21px;
	}

	#bigp {
		font-size: 18px;
		font-weight:300;
		line-height:130%;
	}

	a {
		text-decoration: none;
		color: #333;
		text-shadow: 0px 1px 0px #fff;

		-ms-transition: color 0.3s ease-out;
		-webkit-transition: color 0.3s ease-out;
		-moz-transition: color 0.3s ease-out;
		-o-transition: color 0.3s ease-out;
		transition: color 0.3s ease-out;
		&:hover {
			color: #6799c8;
		}

		img {
			border: none;
		}
	}

	.center {
		text-align: center;
	}

	.nomobile {
		@include breakpoint(mid-bear) {
			display: none;
		}
	}

	ul {
		list-style: disc inside url("/img/icons/right-small.png");
	}

	.arrow { // arrow icon
		float: left;
		width: 15px;
		margin-right: 5px;
	}

	img {
		width: 100%;
	}

	.councimg {
		max-width: 100px;
	}

	.alignleftintext { // aligns imgs left in text
		float: left;
		margin: 3px 6px 0px 0px;
	}

	.thumb {
		float: left;
		width: 100px;
		margin: 7px 20px 10px 0;
		padding: 3px;
		background-color: white;
		@include box-shadow(0px 0px 4px rgba(0,0,0,.3));

		&.small {
			width: 35px;
			padding: 2px;
			margin: 4px 10px 4px 0;
		}

		&.med {
			width: 50px;
			padding: 2px;
			margin: 5px 13px 5px 0;
		}
	}

	.imgleft {
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		@include box-shadow(0 1px 0 0 rgba(255, 255, 255, 0.6));
	}

	.who {
		display: block;
		float: left;
		line-height: 0em;
		background: #fff;
		padding: 3px;
		
		margin-right:12px;
		margin-bottom:14px;
		
		-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
		-moz-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
		box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
	}

	@include breakpoint(mama-bear) {
		.facebook {
			display: none;
		}
	}

	.centre {
		
		display:block; /*images must be set to block in order use auto margins*/
		margin-left:auto;
		margin-right:auto; /*centers images in most browsers*/
		text-align:center;
	  
		line-height: 0em;
		-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
		-moz-box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
		box-shadow: 0px 0px 7px rgba(0,0,0,.4); 
		padding: 3px;
	}

	.clearfix { clear:both; }
}

// selection colours

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

// header
// @import '_mobilenav.scss'; no longer needed
@import '_header.scss';
@import '_nav.scss';

@import '_socialbar.scss';
@import '_sidewriting.scss';
@import '_aside.scss';

// bottom of home and other pages
@import '_featured.scss';
@import '_textposts.scss';
@import '_related.scss';
@import '_forms.scss';

//footer stuff
@import '_footer.scss';
@import '_widgets.scss';

// page specifics
@import '_contact.scss';
@import '_progress.scss';
@import '_who.scss';

/* used nowhere 

.h-heading{
	margin-right: 0;
}

.h-margin{
	margin-bottom: 32px;
}

.block-divider{
	margin-bottom: 120px;
}

// columns

.one-half,
.one-third{	
	float:left;
	margin-bottom: 40px;
	margin-right: 4.54%;
	position:relative;
}

.one-halfn,
.one-thirdn{	
	float:left;
	margin-bottom: -30px;
	margin-right: 4.54%;
	position:relative;
}

.one-half{ 
	width: 47.72%;
}

.one-halfn{ 
	width: 47.72%;
}
.one-third{ 
	width: 30.30%;
}

.one-thirdn{ 
	width: 30.30%;
}
.last {
	clear:right;
	margin-right:0 !important;
}

// PORTFOLIO 

.featured.portfolio-list{
	margin-top: 25px;
}

.project-heading{
	margin: 44px 24px 44px 24px;
}


.project-heading h1{
	float: left;
	margin-right: 20px;
}

.project-heading .launch{
	display: block;
	float: left;
	text-decoration: none;
	color: #888;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-heading .launch:hover{
	color: #6799c8;
}

.project-description{
	float: left;
	margin-left: 24px;
	width: 528px;
	margin-bottom: 40px;
}


.project-info{
	float: left;
	margin-left: 24px;
	width: 252px;
	margin-bottom: 40px;
}

.project-info strong{
	color: #444;
}


.project-pager{
	overflow: hidden;
	margin: 0px 24px 0px 24px;
	padding-bottom: 50px;
}

.project-pager a{
	text-decoration: none;
	color: #444;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-pager a:hover{
	text-decoration: none;
	color: #6799c8;
}

.project-pager .prev-project{
	float: left;
}

.project-pager .next-project{
	float: right;
}

// RETRACTIL SIDEBAR 

aside.retractil{
	position: absolute;
	top: 34px;
	left: 0px;
	background: #eaeaea;
	width: 276px;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
	box-shadow: 0px 0px 2px rgba(0,0,0,.5); 
}

aside.retractil #sidebar-opener{
	cursor: pointer;
	margin: 15px 24px;
	color: #444;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-opener:hover{
	color: #6799c8;
}

aside.retractil #sidebar-closer{
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-closer:hover{
	opacity: 0.5;
}

aside.retractil #sidebar-content{
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 50px;
	display: none;	
}


aside.retractil #sidebar-content a{
	text-decoration: none;
	color: #888;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

aside.retractil #sidebar-content a:hover{
	color: #444;
}

// HOME-GALLERY 


.home-gallery { 
	display: block;
	padding-bottom: 70px;
}

.home-gallery li{ 
	display: block;
	float: left;
	margin-left: 24px;
	margin-bottom: 21px;
	width: 252px;
}

.home-gallery .thumb{ 
	line-height: 0em;
	display: block;
	background: url(../img/plus.png) no-repeat center center;
	-webkit-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	-moz-box-shadow: 3px 3px 0px rgba(0,0,0,.2); 
	box-shadow: 3px 3px 0px rgba(0,0,0,.2);
}

.home-gallery img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.home-gallery .thumb:hover img{
	opacity: 0.15;
}

// BLOG not currently used but could be usefull

#posts-list,
#post-content{
	width: 528px;
	float: left;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}

#post-content .content-area{
	padding-bottom: 50px; 
}

#posts-list article{
	margin-bottom: 80px;
}


#posts-list .feature-image,
#post-content .feature-image{
	width: 100%;
	margin-bottom: 21px;
	background: url(../img/plus.png) center center no-repeat;
	line-height: 0em;
}

#posts-list .feature-image img,
#post-content .feature-image img{
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .feature-image:hover img,
#posts-content .feature-image:hover img{
	opacity: 0.2;
}

#posts-list .post-heading,
#post-content .post-heading{
	display: block;
	text-decoration: none;
	color: #444;
	line-height: 1em;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .post-heading:hover{
	color: #6799c8;
}

#posts-list .meta,
#post-content .meta{
	border-bottom: 1px solid #ccc;
	margin-bottom: 11px;
	padding-bottom: 11px;
	font-style: italic;
	font-size: 11px;
}

#posts-list .meta a,
#post-content .meta a{
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .meta a:hover,
#post-content .meta a:hover{
	color: #6799c8;
}

#posts-list .excerpt{
	margin-bottom: 21px;
}

#posts-list .read-more{
	background: #eaeaea;
	padding: 5px 10px;
	text-decoration: none;
	color: #888;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .read-more:hover{
	color: #fff;
	background: #6799c8;
}

// more blog stuff: PAGER 

.pager {
	overflow: hidden;
	display: block;
	font-size: 11px;
	margin: 0px 24px 0px 24px;
	padding-bottom: 50px;
}

.pager li{
	display: block;
	margin-right: 5px;
	float: left;
}

.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: #484848;
	width: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pager li.active a,
.pager li:hover a{
	color: #fff;
	background: #6799c8;
}

.pager .paged{
	float:right;
	font-style:italic;
}
*/